.container {
    padding: 10px;
}

.item {
    /* box-sizing: border-box; */
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    font-size: 30px;
    text-align: center;
}